.box{
    display: flex;
    width: 200px;
    height: 200px;
    background-color: green;
    font-size: 4em;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    cursor: pointer;
    
}

div {display: block;}