.box{
    display: flex;
    width: 200px;
    height: 200px;
    background-color: green;
    font-size: 4em;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    line-height: 75px;
    margin: 5px;
    animation: appear 1s;
    border-radius: 6px;
    cursor: pointer;
    
}

div {display: block;}