#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box{
    width: 200px;
    height: 200px;
    text-align: center;
    border: solid black;
    background-color: green;
    font-size: 4em;
    font-family: "Times New Roman", Times, serif;
    cursor: pointer;
    transition: 1s;
    
}
 .box-clicked{
    background-color: red;
    transform: scale(0.9) rotate(360deg);
    
 }